/* glassmorphism.css */
:root {
  --light-purple: #D1C4E9;
  --medium-purple: #9575CD;
  --dark-purple: #673AB7;
  --pure-white: #FFFFFF;
  --off-white: #F5F5F5;
  --light-blue: #64B5F6;
  --medium-blue: #2196F3;
  --dark-blue: #1976D2;
  --light-black: #616161;
  --medium-black: #424242;

  /* rgba values for colors */
  --medium-purple-rgba: rgba(149, 117, 205, 0.3);
  --medium-purple-rgba-hover: rgba(149, 117, 205, 0.4);
  --medium-purple-rgba-focus: rgba(149, 117, 205, 0.5);

  --dark-purple-rgba: rgba(103, 58, 183, 0.3);

  --medium-blue-rgba: rgba(33, 150, 243, 0.3);
  --medium-blue-rgba-hover: rgba(33, 150, 243, 0.4);
  --medium-blue-rgba-focus: rgba(33, 150, 243, 0.5);
  --medium-blue-rgba-active: rgba(33, 150, 243, 0.6);

  /* rgba values for gradient colors */
  --medium-purple-gradient: linear-gradient(135deg, rgba(149, 117, 205, 0.3) 0%, rgba(149, 117, 205, 0.7) 100%);
  --medium-blue-gradient: linear-gradient(135deg, rgba(33, 150, 243, 0.3) 0%, rgba(33, 150, 243, 0.7) 100%);

  /* Roboto, Poppins, Montserrat */
  --default-font: 'Poppins';

  /* White Theme - Saturated */
  /* --body-gradient: linear-gradient(135deg, rgb(72 2 195 / 30%) 0%, rgb(64 0 177 / 60%) 25%, rgb(0 137 246 / 60%) 50%, rgb(0 24 173 / 60%) 75%, rgb(0 26 173 / 30%) 100%);
  --dark-black: #212121;
  --chat-container: rgb(255 255 255 / 15%);
  --message-bg: rgb(46 0 201 / 7%);
  --scrollbar-thumb-bg: rgb(0 21 173 / 20%);
  --scrollbar-thumb-bg-hover: rgb(0 21 173 / 30%); */

  /* Dark Theme */
  --body-gradient: linear-gradient(135deg, rgb(107 52 204) 0%, rgb(64 0 179 / 90%) 25%, rgb(0 137 246) 50%, rgb(10 33 168) 75%, rgb(0 26 171) 100%);
  --dark-black: #ffffffbd;
  --chat-container: rgb(0 0 0 / 35%);
  --message-bg: rgb(168 0 201 / 10%);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.3);
  --scrollbar-thumb-bg-hover: rgba(255, 255, 255, 0.4);

}

body {
  /* Set the gradient background color for the body */
  background-image: var(--body-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Set the height to 100% to cover the entire page */
  height: 100%;
  margin: 0;
  font-family: var(--default-font), sans-serif;
}


.chat-container {
  /* Set the container size and position */
  width: 80%;
  max-width: 1000px;
  min-height: 600px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  /* Apply the gradient background color and blur effect */
  background-color: var(--chat-container);
  backdrop-filter: blur(10px);

  /* Add rounded corners and border */
  border-radius: 20px;

  /* Add a subtle shadow to create a floating effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--default-font), sans-serif;
  font-size: 24px;
  color: var(--dark-black);
  padding: 16px;
}

.chat-header i.material-icons {
  margin-right: 8px;
}



.messages-container {
  background-color: var(--medium-blue-gradient);
  /* adjust the color and transparency as needed */
  padding: 16px;
  /* add padding to create space around the messages */
  overflow-y: auto;
  /* enable scrolling if the content overflows the container */
  max-height: 900px;
  /* adjust the height as needed */
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.message {
  font-family: var(--default-font), sans-serif !important;
  font-size: 16px;
  color: var(--dark-black);
  background-color: var(--message-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  /* separate messages with a small margin */
  /* backdrop-filter: blur(10px); */
}

/* Drop Down */
.glass-input,
.dropdown-menu.glass-input {
  background-color: var(--message-bg);
  border: none;
  border-radius: 12px;
  font-family: var(--default-font), sans-serif;
  font-size: 16px;
  color: var(--dark-black);
  outline: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu.glass-input {
  padding: 4px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.dropdown-item {
  padding: 8px 12px;
  color: var(--pure-white);
}

.glass-input:hover,
.dropdown-item:hover {
  background-color: var(--medium-purple-rgba-hover);
}

.glass-input:focus,
.dropdown-item:focus {
  background-color: var(--medium-purple-rgba-focus);
}

/* Custom button styles */
.custom-btn {
  font-family: var(--default-font), sans-serif;
  font-size: 18px;
  color: var(--dark-blue);
  padding: 10px 20px;
  background-image: var(--medium-blue-gradient);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custom-btn:hover {
  background-color: var(--medium-blue-rgba-hover);
}

.custom-btn:focus {
  background-color: var(--medium-blue-rgba-focus);
}

.custom-btn:active {
  background-color: var(--medium-blue-rgba-active);
}

/* Token information container */
.token-info {
  background-image: var(--message-bg);
  color: var(--dark-black);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.token-info h3 {
  font-family: var(--default-font), sans-serif;
  font-size: 20px;
  margin-bottom: 12px;
}

.token-info p {
  font-family: var(--default-font), sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
}

.token-info strong {
  font-weight: bold;
}

/* Scroll-bar */
/* Add this to your existing CSS */
.messages-container::-webkit-scrollbar {
  width: 6px;
}

.messages-container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover)
}

/* Firefox */
.messages-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(103, 58, 183, 0.3) rgba(255, 255, 255, 0.1);
}

.messages-container:hover {
  scrollbar-color: rgba(103, 58, 183, 0.4) rgba(255, 255, 255, 0.1);
}

/* Message scroll-bar */
.message pre {
  font-family: var(--default-font), sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.message pre::-webkit-scrollbar {
  height: 6px;
}

.message pre::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.message pre::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
}

.message pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover)
}

/* Firefox */
.message pre {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bg) rgba(255, 255, 255, 0.1);
}

.message pre:hover {
  scrollbar-color: var(--scrollbar-thumb-bg-hover) rgba(255, 255, 255, 0.1);
}

/* User text-area */
.chat-input-container {
  position: relative;
  /* background-color: var(--chat-container); */
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 12px;
}

.input-form {
  display: flex;
  gap: 8px;
}

.input-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  background-color: var(--message-bg);
  /* background-color: rgba(0, 0, 0, 0); */
  /* backdrop-filter: blur(10px); */
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  align-items: center;
}

.custom-textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  outline: none;
  overflow-y: hidden;
  color: var(--dark-black);
}

.custom-textarea::placeholder {
  /* color: var(--dark-black); */
  color: var(--dark-black);
  opacity: 0.7;
}

.send-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

.send-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.send-icon {
  color: var(--dark-black);
  padding: 8px;
  stroke: var(--dark-black);
  width: 2em;
  height: 2em;
}