/* glassmorphism.css */
:root {
  --light-purple: #D1C4E9;
  --medium-purple: #9575CD;
  --dark-purple: #673AB7;
  --pure-white: #FFFFFF;
  --off-white: #F5F5F5;
  --light-blue: #64B5F6;
  --medium-blue: #2196F3;
  --dark-blue: #1976D2;
  --light-black: #616161;
  --medium-black: #424242;

  /* rgba values for colors */
  --medium-purple-rgba: rgba(149, 117, 205, 0.3);
  --medium-purple-rgba-hover: rgba(149, 117, 205, 0.4);
  --medium-purple-rgba-focus: rgba(149, 117, 205, 0.5);

  --dark-purple-rgba: rgba(103, 58, 183, 0.3);

  --medium-blue-rgba: rgba(33, 150, 243, 0.3);
  --medium-blue-rgba-hover: rgba(33, 150, 243, 0.4);
  --medium-blue-rgba-focus: rgba(33, 150, 243, 0.5);
  --medium-blue-rgba-active: rgba(33, 150, 243, 0.6);

  /* rgba values for gradient colors */
  --medium-purple-gradient: linear-gradient(135deg, rgba(149, 117, 205, 0.3) 0%, rgba(149, 117, 205, 0.7) 100%);
  --medium-blue-gradient: linear-gradient(135deg, rgba(33, 150, 243, 0.3) 0%, rgba(33, 150, 243, 0.7) 100%);

  /* Roboto, Poppins, Montserrat */
  --default-font: 'Poppins';

  /* White Theme - Saturated */
  --body-gradient: linear-gradient(135deg, rgb(72 2 195 / 30%) 0%, rgb(64 0 177 / 50%) 25%, rgb(0 137 246 / 60%) 50%, rgb(0 24 173 / 50%) 75%, rgb(0 26 173 / 30%) 100%);
  --dark-black: black;
  --chat-container: rgba(255, 255, 255, 0);
  --chat-header: rgb(255 255 255 / 15%);
  --sidebar-container-bg: rgb(255 255 255 / 15%);
  --message-bg: rgb(46 0 201 / 7%);
  --scrollbar-thumb-bg: rgb(0 21 173 / 20%);
  --scrollbar-thumb-bg-hover: rgb(0 21 173 / 30%);
  --glass-container-bg: var(--message-bg);
  --text-area-bg: var(--message-bg);
  --dropdown-menu-bg: linear-gradient(135deg, rgb(172 146 224) 0%, rgb(143 176 239) 100%);
  --dropdown-button-hover: rgba(255, 255, 255, 0.05) !important;
  --dropdown-button-active: rgba(255, 255, 255, 0.1) !important;
  --dropdown-button-glowing: inset 0 4px 6px rgb(172 146 224 / 10%), 0 0 15px rgb(127 105 255 / 60%);
  --dropdown-item-hover: rgba(255, 255, 255, 0.1);
  --glass-button-hover: rgb(46 0 201 / 5%);
  --checkbox-bg: rgb(255 255 255) !important;
  --checkbox-checked-bg: rgb(0 56 192) !important;

  --user-message-bg: linear-gradient(135deg, rgb(214 134 255) 0%, rgb(135 135 255) 100%);
  --to-user-message-bg: linear-gradient(135deg, rgb(149 211 255 / 47%) 0%, rgb(169 169 255 / 52%) 100%);
  --thoughts-message-bg: linear-gradient(135deg, rgb(255 169 169 / 66%) 0%, rgb(201 135 255) 100%);
  --memories-message-bg: linear-gradient(135deg, rgb(95 216 248 / 79%) 0%, rgb(98 90 255 / 61%) 100%);
  --system-message-bg: linear-gradient(135deg, rgb(118 0 255 / 82%) 0%, rgb(0 31 223 / 70%) 100%);

  --message-date-color: #212121;



  /* Dark Theme */
  /* --body-gradient: linear-gradient(135deg, rgb(107 52 204 / 60%) 0%, rgb(64 0 179 / 85%) 25%, rgb(0 119 213) 50%, rgb(10 33 168 / 90%) 75%, rgb(0 26 171 / 68%) 100%);
  --dark-black: white;
  --chat-container: rgb(0 0 0 / 0%);
  --chat-header: rgb(0 0 0 / 20%);
  --sidebar-container-bg: rgb(79 0 159 / 20%);
  --message-bg: rgb(82 0 98 / 25%);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.3);
  --scrollbar-thumb-bg-hover: rgba(255, 255, 255, 0.4);
  --glass-container-bg: rgb(7 0 80 / 19%);
  --text-area-bg: var(--message-bg);
  --dropdown-menu-bg: linear-gradient(135deg, rgb(77 0 213 / 90%) 0%, rgb(0 11 78 / 90%) 100%);
  --dropdown-button-hover: rgba(0, 0, 0, 0.15) !important;
  --dropdown-button-active: rgba(0, 0, 0, 0.2) !important;
  --dropdown-button-glowing: inset 0 4px 6px rgba(77, 0, 213, 0.1), 0 0 15px rgb(119 139 255 / 60%);
  --dropdown-item-hover: rgba(0, 0, 0, 0.2);
  --glass-button-hover: rgb(82 0 98 / 40%);
  --checkbox-bg: rgb(255 255 255) !important;
  --checkbox-checked-bg: rgb(0 56 192) !important;

  --user-message-bg: linear-gradient(135deg, rgb(118 0 255 / 82%) 0%, rgb(0 31 223 / 70%) 100%);
  --to-user-message-bg: linear-gradient(135deg, rgb(180 0 255 / 20%) 0%, rgb(0 0 255 / 15%) 100%);
  --thoughts-message-bg: linear-gradient(135deg, rgb(255 0 190 / 65%) 0%, rgb(127 0 255 / 60%) 100%);
  --memories-message-bg: linear-gradient(135deg, rgb(0 140 255 / 54%) 0%, rgb(0 35 255 / 40%) 100%);
  --system-message-bg: linear-gradient(135deg, rgb(118 0 255 / 82%) 0%, rgb(0 31 223 / 70%) 100%);

  --message-date-color: #ffffffbd; */



  /* Alternative Dark Theme */
  /* --dark-black: #ffffffbd; */
  /* Brighter text-area */
  /* --text-area-bg: rgb(168 0 201 / 10%); */

  /* Bootstrap Constant Overriden */
  --bs-btn-border-radius: 12px !important;
}

body {
  /* Set the gradient background color for the body */
  background-image: var(--body-gradient);
  /* background-image: linear-gradient(135deg, rgb(107 52 204 / 60%) 0%, rgb(64 0 179 / 85%) 25%, rgb(0 119 213) 50%, rgb(10 33 168 / 90%) 75%, rgb(0 26 171 / 68%) 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Set the height to 100% to cover the entire page */
  height: 100%;
  margin: 0;
  font-family: var(--default-font), sans-serif;
}


.chat-container {
  /* Set the container size and position */
  width: 80%;
  max-width: 80%;
  min-height: 600px;
  margin: 50px auto;
  /* padding: 20px; */
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  /* Apply the gradient background color and blur effect */
  background-color: var(--chat-container);
  backdrop-filter: blur(40px);

  /* Add rounded corners and border */
  border-radius: 20px;

  /* Add a subtle shadow to create a floating effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.content-container {
  padding: 20px 20px 20px 20px
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--default-font), sans-serif;
  font-size: 24px;
  color: var(--dark-black);
  padding: 16px 0px;

  background-color: var(--chat-header);
  border-radius: 20px 20px 0 0;
}

.chat-header i.material-icons {
  margin-right: 8px;
}

.messages-block {
  padding-top: 20px;
  padding-right: 32px !important;
}

.messages-container {
  background-color: var(--medium-blue-gradient);
  /* adjust the color and transparency as needed */
  padding: 16px;
  /* add padding to create space around the messages */
  overflow-y: auto;
  /* enable scrolling if the content overflows the container */
  max-height: 900px;
  /* adjust the height as needed */
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align messages to the left by default */
}

.sidebar-container {
  padding-top: 16px;
  padding-left: 16px;
  height: 100%;
  position: relative;

  background-color: var(--sidebar-container-bg);
  padding: 20px;
  border-radius: 0 0 0 20px;
}

.message {
  font-family: var(--default-font), sans-serif !important;
  font-size: 14px;
  color: var(--dark-black);
  background-color: var(--message-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-content {
  flex: 1;
  margin-bottom: 4px;
}


.thoughts-message {
  /* background-color: rgb(207 0 212 / 15%);   */
  background-image: var(--thoughts-message-bg);
}

.to-user-message {
  background-image: var(--to-user-message-bg);
}

.memories-message {
  /* background-color: rgb(0 135 28 / 10%); */
  background-image: var(--memories-message-bg);
}

.assistant-message {
  align-self: flex-start;
  /* Align assistant messages to the left */
}

.user-message {
  align-self: flex-end;
  background-image: var(--user-message-bg);
  color: var(--dark-black);
  /* Align user and system messages to the right */
}

.system-message {
  max-width: 100% !important;
  align-self: flex-start;
}

/* .date-time {
  font-size: 12px;
  color: var(--dark-black);
  opacity: 0.6;
  text-align: right;
} */
.message-date-time {
  font-size: 12px;
  color: var(--message-date-color);
  text-align: right;
  margin-bottom: 0;
}

.glass-container {
  background-color: var(--glass-container-bg);
  color: var(--dark-black);
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
}

.glass-container p {
  font-family: var(--default-font), sans-serif;
  font-size: 16px;
  margin: 5px auto;
}

.glass-container strong {
  font-weight: bold;
}

.container-title {
  font-family: var(--default-font), sans-serif;
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--dark-black);
  padding-left: 16px;
}

/* Custom button styles */
.custom-btn {
  font-family: var(--default-font), sans-serif;
  font-size: 18px;
  color: var(--dark-black);
  padding: 10px 20px;
  background-image: var(--medium-blue-gradient);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custom-btn:hover {
  background-color: var(--medium-blue-rgba-hover);
}

.custom-btn:focus {
  background-color: var(--medium-blue-rgba-focus);
}

.custom-btn:active {
  background-color: var(--medium-blue-rgba-active);
}

/* Token information container */


/* Scroll-bar */
/* Add this to your existing CSS */
.messages-container::-webkit-scrollbar {
  width: 6px;
}

.messages-container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover)
}

/* Firefox */
.messages-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(103, 58, 183, 0.3) rgba(255, 255, 255, 0.1);
}

.messages-container:hover {
  scrollbar-color: rgba(103, 58, 183, 0.4) rgba(255, 255, 255, 0.1);
}

/* Message scroll-bar */
.message pre {
  font-family: var(--default-font), sans-serif;
  font-size: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.message pre::-webkit-scrollbar {
  height: 6px;
}

.message pre::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.message pre::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
}

.message pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover)
}

/* Firefox */
.message pre {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bg) rgba(255, 255, 255, 0.1);
}

.message pre:hover {
  scrollbar-color: var(--scrollbar-thumb-bg-hover) rgba(255, 255, 255, 0.1);
}

/* User text-area */
.chat-input-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 12px;
  padding-bottom: 30px;
}

.input-form {
  display: flex;
  gap: 8px;
}

.input-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  background-color: var(--text-area-bg);
  /* background-color: rgba(0, 0, 0, 0); */
  /* backdrop-filter: blur(10px); */
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  align-items: center;
}

.custom-textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  outline: none;
  overflow-y: hidden;
  color: var(--dark-black);
}

.custom-textarea::placeholder {
  color: var(--dark-black);
  opacity: 0.7;
}

.send-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0 7px 7px 0;
}

.send-button:hover {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: var(--dropdown-button-hover);
}


.send-icon {
  color: var(--dark-black);
  padding: 8px;
  stroke: var(--dark-black);
  width: 2em;
  height: 2em;
}

/* DropDown */
.experience-space,
.response-option {
  padding: 0px 0px;
}

.full-width-dropdown {
  width: 100%;
  position: relative;
}

.full-width-dropdown .btn {
  width: 100%;
  text-align: center;
  color: var(--dark-black);
  font-family: var(--default-font), sans-serif !important;
  font-size: 16px !important;
}

/* Remove Border-color from DropDown */
.full-width-dropdown .btn.dropdown-toggle.show {
  border-color: transparent !important;
}

.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent !important;
}

/* end */


.full-width-dropdown .dropdown-toggle::after {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.full-width-dropdown .dropdown-menu {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: var(--dropdown-menu-bg);
  backdrop-filter: blur(0.1rem);
  padding-top: 0px;
  padding-bottom: 0px;
  outline: none;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 12px;
  font-family: var(--default-font), sans-serif;
  font-size: 16px;
  opacity: 0.95;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.full-width-dropdown .dropdown-item {
  color: var(--dark-black);
  padding: 8px 16px;
  text-align: center;
}

.full-width-dropdown .dropdown-item:hover {
  background-color: var(--dropdown-item-hover);
  color: var(--dark-black);
  border-radius: 12px;
}

.btn {
  border-radius: 12px !important;
}

/* Glowing Effect */
.full-width-dropdown .btn:hover,
.btn:hover {
  /* box-shadow: var(--dropdown-button-glowing); */
  background-color: var(--dropdown-button-hover);
  border-radius: 12px;
}

.full-width-dropdown .btn:focus {
  /* box-shadow: var(--dropdown-button-glowing); */
}

/* Button */
.glass-button {
  border-radius: 12px;
  width: 100%;
  text-align: center;
  background-color: var(--glass-container-bg) !important;
  color: var(--dark-black) !important;
  font-family: var(--default-font), sans-serif !important;
  font-size: 16px !important;
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Glowing Effect 2 */

.glass-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  /* box-shadow: var(--dropdown-button-glowing) !important; */
  background-color: var(--glass-button-hover) !important;
  border-radius: 12px !important;
}

.glass-button:active {
  background-color: var(--dropdown-button-active) !important;
}

.generate-model-message-container {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 0;
  width: 90%;
}



/* Temp Radio-button */

.form-check {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.form-check input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.form-check input[type="radio"]+label {
  padding: 8px 12px;
  border-radius: 12px;
  background-color: var(--chat-container);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: var(--dark-black);
  font-family: var(--default-font), sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-check input[type="radio"]:checked+label {
  background-color: var(--medium-blue-gradient);
  color: var(--off-white);
}

.form-check input[type="radio"]:hover+label {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Messages to Show Checkboxes */
/* .form-switch .form-check-input {
  background-image: var(--message-bg) !important;
} */

.show-options .form-check-input {
  background-color: var(--checkbox-bg) !important;
}

.form-switch .form-check-input {
  /* --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e") !important; */
}

.show-options .form-check-label {
  padding-left: 10px;
}

.show-options .form-check-input:checked {
  background-color: var(--checkbox-checked-bg) !important;
}



/* Test Elements with glassmorphism */