<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with GPT-3.5-turbo</title>
</head>
<body>
    <h1>Chat with GPT-3.5-turbo</h1>

    <div id="messages">
    
    </div>
    
    <input type="hidden" id="ai_id" value="{{ ai_id }}">
    <input type="hidden" id="ai_name" value="{{ ai_name }}">

    <form action="{{ url_for('chat') }}" method="POST">
        <input type="hidden" name="messages" value="{{ messages }}">
        <label for="user_message">Your message:</label>
        <input type="text" name="user_message" id="user_message" autofocus>
        <label for="experience_space">Experience Space:</label>
        <select name="experience_space" id="experience_space">
            {% for es in all_experience_spaces %}
                <option value="{{ es }}" {% if es == experience_space %}selected{% endif %}>{{ es }}</option>
            {% endfor %}
            <option value="{{ experience_space + 1 }}">Create New Experience Space ({{ experience_space + 1 }})</option>
        </select>
        
        <button type="submit">Send</button>
    </form>

    <form action="{{ url_for('chat') }}" method="POST">
        <input type="hidden" name="messages" value="{{ messages }}">
        <input type="hidden" name="experience_space" value="{{ experience_space }}">
        <input type="hidden" name="generate_model_message" value="true">
        <button type="submit">Generate Model Message</button>
    </form>

    <br />
    <br />
    <div>
        <h3>Token Information:</h3>
        <p><strong>Prompt tokens:</strong> <span id="prompt_tokens">{{ prompt_tokens }}</span></p>
        <p><strong>Completion tokens:</strong> <span id="completion_tokens">{{ completion_tokens }}</span></p>
        <p><strong>Total tokens:</strong> <span id="total_tokens">{{ total_tokens }}</span></p>
    </div>
            

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const initialExperienceSpace = document.getElementById("experience_space").value;
            fetchAndUpdateMessages(initialExperienceSpace);
        });
        
        document.getElementById("experience_space").addEventListener("change", function () {
            fetchAndUpdateMessages(this.value);
        });
        
        
    
        function updateMessages(newMessages) {
            const messagesDiv = document.getElementById("messages");
            messagesDiv.innerHTML = "";
        
            newMessages.forEach(function(message) {
                const content = message.content;
                const role = message.role.charAt(0).toUpperCase() + message.role.slice(1);
        
                let messageContent = "";
                if (message.role.toLowerCase() === "user" && 'user_name' in content && 'user_message' in content) {
                    messageContent = JSON.stringify({[content.user_name]: content.user_message}, null, 4);
                } else if (message.role.toLowerCase() === "system") {
                    messageContent = message.content;
                } else {
                    messageContent = JSON.stringify(content, null, 4);
                }
        
                const messageHtml = `<pre><strong>${role}:</strong>${messageContent}</pre>`;
                messagesDiv.innerHTML += messageHtml;
            });
        }
        

        function updateTokenInformation(usage) {
            document.getElementById("prompt_tokens").innerText = usage.prompt_tokens;
            document.getElementById("completion_tokens").innerText = usage.completion_tokens;
            document.getElementById("total_tokens").innerText = usage.total_tokens;
        }
        
        function fetchAndUpdateMessages(experienceSpace) {
            const xhr = new XMLHttpRequest();
        
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        updateMessages(response.messages);
                        updateTokenInformation(response.usage);
                    } else {
                        console.error("An error occurred while fetching messages.");
                    }
                }
            };
        
            xhr.open("POST", "{{ url_for('change_experience_space') }}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("experience_space=" + experienceSpace);
        }
        
        
    </script>
    
</body>
</html>
