<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with GPT-3.5-turbo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glassmorphism.css') }}">
    <!-- Add this line to the head of your HTML file to include Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
</head>
<body>
    <div class="chat-container">
        <header class="chat-header">
          <i class="material-icons">chat</i> Chat Application
        </header>
      
        <div class="row">
          <div class="col-lg-3">
            <!-- Sidebar content -->
            <form action="{{ url_for('chat') }}" method="POST">
              <input type="hidden" name="messages" value="{{ messages }}">
              <input type="hidden" name="experience_space" id="generate_experience_space" value="{{ experience_space }}">
              <input type="hidden" name="generate_model_message" value="true">
              <button type="submit" class="glass-input mt-2">Generate Model Message</button>
            </form>

            <!-- Experience space -->
            <div class="glass-container experience-space">
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="experience_space" class="me-2">Experience Space:</label>
                    <div class="dropdown">
                    <button class="btn glass-input dropdown-toggle" type="button" id="experience_space_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose Experience Space
                    </button>
                    <ul class="dropdown-menu glass-input" aria-labelledby="experience_space_dropdown">
                        {% for es in all_experience_spaces %}
                        <li><a class="dropdown-item" href="#" data-value="{{ es }}" {% if es == experience_space %}selected{% endif %}>{{ es }}</a></li>
                        {% endfor %}
                        <li><a class="dropdown-item" href="#" data-value="{{ highest_experience_space + 1 }}">Create New Experience Space ({{ highest_experience_space + 1 }})</a></li>
                    </ul>
                    </div>
                </div>
            </div>
      
            <!-- Radio buttons -->
            <div class="communication-modes glass-container">
                <div class="form-check">
                <input class="form-check-input" type="radio" id="continuous_option" name="response_option" value="continuous" {% if response_option == 'continuous' %}checked{% endif %}>
                <label class="form-check-label" for="continuous_option">Continuous</label>
                </div>
        
                <div class="form-check">
                <input class="form-check-input" type="radio" id="thinking_option" name="response_option" value="thinking" {% if response_option == 'thinking' %}checked{% endif %}>
                <label class="form-check-label" for="thinking_option">Thinking</label>
                </div>
        
                <div class="form-check">
                <input class="form-check-input" type="radio" id="step_by_step_option" name="response_option" value="step_by_step" {% if response_option == 'step_by_step' %}checked{% endif %}>
                <label class="form-check-label" for="step_by_step_option">Step-by-Step</label>
                </div>
        
                <div class="form-check">
                <input class="form-check-input" type="radio" id="diagnostic_option" name="response_option" value="diagnostic" {% if response_option == 'diagnostic' %}checked{% endif %}>
                <label class="form-check-label" for="diagnostic_option">Diagnostic</label>
                </div>
            </div>
      
            <!-- Token Information -->
            <div class="token-info glass-container">
              <h3>Token Information:</h3>
              <p><strong>Prompt tokens:</strong> <span id="prompt_tokens">{{ prompt_tokens }}</span></p>
              <p><strong>Completion tokens:</strong> <span id="completion_tokens">{{ completion_tokens }}</span></p>
              <p><strong>Total tokens:</strong> <span id="total_tokens">{{ total_tokens }}</span></p>
            </div>
            <!-- Test Elemenst with Glassmorphism -->            
          </div>
      
          <div class="col-lg-9">
            <!-- Main chat content -->
            <div class="messages-container" id="messages"></div>
            <input type="hidden" id="ai_id" value="{{ ai_id }}">
            <input type="hidden" id="ai_name" value="{{ ai_name }}">
      
            <div class="chat-input-container">
                <form id="user_message_form" method="POST" class="input-form">
                  <div class="input-wrapper">
                    <textarea
                      id="user_message"
                      class="custom-textarea"
                      rows="1"
                      placeholder="Send a message..."
                      style="max-height: 140px; overflow-y: hidden;"
                    ></textarea>
                    <button class="send-button" type="submit">
                      <svg                      
                        fill="none"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="send-icon"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                      </svg>
                    </button>
                  </div>
                </form>
              </div>
              
          </div>
        </div>
        <input type="hidden" id="initial_messages" value="{{ initial_messages | tojson }}">
      </div>
      
             
      
    <script>
        let requestQueue = [];
        let isRequestInProgress = false;

        /*document.addEventListener("DOMContentLoaded", function () {
            const initialExperienceSpace = document.getElementById("experience_space").value;
            fetchAndUpdateMessages(initialExperienceSpace);
        }); */
        
        /* Select Drop Down */
        /*document.getElementById("experience_space").addEventListener("change", function () {
            const experienceSpace = this.options[this.selectedIndex].value;
            console.log('experience space passed to fetchAndUpdateMessages:', experienceSpace);
            fetchAndUpdateMessages(experienceSpace);
            document.getElementById("generate_experience_space").value = experienceSpace;
        });   */
        addEventListenersToDropdownItems();
        setInitialDropdownValue();
        
          

        // Text-area for user message
        document.addEventListener("DOMContentLoaded", function () {
            const textarea = document.querySelector(".custom-textarea");
            const form = document.getElementById("user_message_form");
          
            textarea.addEventListener("input", function () {
              this.style.height = "auto"; // Reset height
              this.style.height = this.scrollHeight + "px"; // Set new height based on scroll height
            });
          
            textarea.addEventListener("keydown", function (event) {
              if (event.key === "Enter" && !event.shiftKey) {
                event.preventDefault(); // Prevent the default behavior (creating a new line)
                prepareAndSendUserMessage();
              }
            });
          });

        document.getElementById("user_message_form").addEventListener("submit", function (event) {
            event.preventDefault();
            prepareAndSendUserMessage();
        });
          
                    
        document.querySelector("form[action='{{ url_for('chat') }}']").addEventListener("submit", function (event) {
            event.preventDefault();                                               
        
            if (!isRequestInProgress) processNextRequest(true); // Call the function to generate a model message
        });
        
        // Model communication modes
        document.getElementById("thinking_option").addEventListener("change", function () {
            updateResponseOption("thinking");
        });
        
        document.getElementById("step_by_step_option").addEventListener("change", function () {
            updateResponseOption("step_by_step");
        });    

        document.getElementById("continuous_option").addEventListener("change", function () {
            updateResponseOption("continuous");
        });   

        document.getElementById("diagnostic_option").addEventListener("change", function () {
            updateResponseOption("diagnostic");
        });  

        function prepareAndSendUserMessage(){
            const userMessageInput = document.getElementById("user_message");
            const userMessage = userMessageInput.value;
            const experienceSpace = getDropdownValue();
        
            requestQueue.push(() => sendUserMessage(userMessage, experienceSpace));
            if (!isRequestInProgress) processNextRequest();
        }

        function sendUserMessage(userMessage, experienceSpace) {
            const userMessageInput = document.getElementById("user_message");
            
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        updateMessages([response.user_message, response.assistant_message], true);
                        
                        userMessageInput.value = ""; // Clear the input field
                        userMessageInput.style.height = "auto"; // Reset the height to its initial value

                        updateTokenInformation(response.usage); // Update the usage values

                        processNextRequest(response.send_model_message_again); // Process the next request in the queue
                    } else {
                        console.error("An error occurred while sending the user message.");
                    }
                }
            };
            xhr.open("POST", "{{ url_for('send_user_message') }}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(`user_message=${encodeURIComponent(userMessage)}&experience_space=${encodeURIComponent(experienceSpace)}`);
        }

        function getDropdownValue() {
            const dropdownButton = document.getElementById("experience_space_dropdown");
            return dropdownButton.textContent.trim();
        }
        
        function setDropdownValue(value) {
            const dropdownButton = document.getElementById("experience_space_dropdown");
            const items = document.querySelectorAll(".dropdown-item");
        
            items.forEach((item) => {
                if (item.dataset.value == value) {
                    dropdownButton.textContent = item.textContent;
                    return;
                }
            });
        }        

        function sendModelMessage(experienceSpace) {
            
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        updateMessages([response.assistant_message], true);
                        updateTokenInformation(response.usage); // Update the usage values 

                        processNextRequest(response.send_model_message_again); // Process the next request in the queue
                    } else {
                        console.error("An error occurred while generating the model message.");
                    }
                }
            };
            xhr.open("POST", "{{ url_for('generate_model_message') }}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(`experience_space=${encodeURIComponent(experienceSpace)}`);
        }
        
                                             
    
        function updateMessages(newMessages, append = false) {
            const messagesDiv = document.getElementById("messages");
            if (!append) {
                messagesDiv.innerHTML = "";
            }
        
            newMessages.forEach(function(message) {
                content = message.content
                const role = message.role.charAt(0).toUpperCase() + message.role.slice(1);
                if(message.role.toLowerCase() !== "system"){
                    content = typeof message.content === "string" ? JSON.parse(message.content) : message.content;
                }
        
                let messageContent = "";
                if (message.role.toLowerCase() === "user" && 'user_name' in content && 'user_message' in content) {
                    let userMessage = {[content.user_name]: content.user_message};
                    if ('message_id' in content){
                        userMessage["message_id"] = content.message_id
                    }
                    if ('diagnostic' in content){
                        userMessage["diagnostic"] = content.diagnostic
                    }
                    if ('memories' in content) {
                        userMessage["memories"] = content.memories;
                    }

                    messageContent = JSON.stringify(userMessage, null, 4);
                } else if (message.role.toLowerCase() === "system") {
                    messageContent = message.content;
                } else {
                    messageContent = JSON.stringify(content, null, 4);
                }

                // Replace newline characters with HTML line breaks
                //messageContent = messageContent.replace(/\n/g, '<br>');
        
                const messageHtml = `<div class='message'><pre><strong>${role}:</strong>${messageContent}</pre></div>`;
                messagesDiv.innerHTML += messageHtml;
            });
        }
        
        function processNextRequest(send_model_message_again = false) {
            console.log('send_model_message_again: ' + send_model_message_again)
            if (requestQueue.length === 0) {
                isRequestInProgress = false;

                if (send_model_message_again){
                    isRequestInProgress = true
                    const experienceSpace = getDropdownValue();
                    sendModelMessage(experienceSpace)
                }
                return;
            }
        
            isRequestInProgress = true;
            const nextRequest = requestQueue.shift();
            nextRequest();
        }                        
        

        function updateTokenInformation(usage) {
            document.getElementById("prompt_tokens").innerText = usage.prompt_tokens;
            document.getElementById("completion_tokens").innerText = usage.completion_tokens;
            document.getElementById("total_tokens").innerText = usage.total_tokens;
        }

        /*function updateSelectOptions(newOptions) {
            const select = document.getElementById("experience_space");
            select.innerHTML = "";
            
            newOptions.forEach(function(optionValue) {
                console.log(optionValue)
                const option = document.createElement("option");
                option.value = optionValue;
                option.text = optionValue;
                select.add(option);
            });
        
            // Add "Create New Experience Space" option
            const createNewOption = document.createElement("option");
            createNewOption.value = newOptions[newOptions.length - 1] + 1;
            createNewOption.text = "Create New Experience Space (" + createNewOption.value + ")";
            select.add(createNewOption);
        }*/
        function updateDropdownOptions(newOptions) {
            const dropdownMenu = document.querySelector(".dropdown-menu");
            dropdownMenu.innerHTML = "";
        
            newOptions.forEach(function (optionValue) {
                console.log(optionValue);
                const listItem = document.createElement("li");
                const anchor = document.createElement("a");
                anchor.classList.add("dropdown-item");
                anchor.href = "#";
                anchor.dataset.value = optionValue;
                anchor.textContent = optionValue;
                listItem.appendChild(anchor);
                dropdownMenu.appendChild(listItem);
            });
        
            // Add "Create New Experience Space" option
            const createNewListItem = document.createElement("li");
            const createNewAnchor = document.createElement("a");
            createNewAnchor.classList.add("dropdown-item");
            createNewAnchor.href = "#";
            createNewAnchor.dataset.value = newOptions[newOptions.length - 1] + 1;
            createNewAnchor.textContent = "Create New Experience Space (" + createNewAnchor.dataset.value + ")";
            createNewListItem.appendChild(createNewAnchor);
            dropdownMenu.appendChild(createNewListItem);

            addEventListenersToDropdownItems();
        }

        function addEventListenersToDropdownItems() {
            document.querySelectorAll(".dropdown-item").forEach((item) => {
                item.addEventListener("click", function () {
                    const value = this.dataset.value;
                    setDropdownValue(value);
                    console.log("experience space passed to fetchAndUpdateMessages:", value);
                    fetchAndUpdateMessages(value);
                    document.getElementById("generate_experience_space").value = value;
                });
            });
        }

        function setInitialDropdownValue() {
            const selectedOption = document.querySelector(".dropdown-item[selected]");
            if (selectedOption) {
                const value = selectedOption.dataset.value;
                setDropdownValue(value);
            }
        }        
        
        
        
        function fetchAndUpdateMessages(experienceSpace) {
            console.log("fetchAndUpdateMessages called with experienceSpace:", experienceSpace);  // Add this line
            const xhr = new XMLHttpRequest();
        
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        updateMessages(response.messages);
                        updateTokenInformation(response.usage);
                        //updateSelectOptions(response.all_experience_spaces);
                        updateDropdownOptions(response.all_experience_spaces)
                        //document.getElementById("experience_space").value = experienceSpace;
                        setDropdownValue(experienceSpace)
                    } else {
                        console.error("An error occurred while fetching messages.");
                    }
                }
            };
        
            xhr.open("POST", "{{ url_for('change_experience_space') }}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("experience_space=" + encodeURIComponent(experienceSpace));

        }

        function updateResponseOption(responseOption) {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log("Response option updated:", responseOption);
                    } else {
                        console.error("An error occurred while updating response option.");
                    }
                }
            };
            xhr.open("POST", "{{ url_for('update_response_option') }}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("response_option=" + encodeURIComponent(responseOption));
        }        
        
        
        (function () {
            const initialMessagesJson = document.getElementById("initial_messages").value;
            const initialMessages = JSON.parse(initialMessagesJson);
            updateMessages(initialMessages);
        })();        
        
               

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
