<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with GPT-3.5-turbo</title>
</head>
<body>
    <h1>Chat with GPT-3.5-turbo</h1>

    <div id="messages">
        {% for message in messages %}
            {% set content = message.content |from_json %}
            <pre><strong>{{ message.role.title() }}:</strong>{% if message.role.lower() == "user" and 'user_name' in content and 'user_message' in content %}{{ {content.user_name: content.user_message} |tojson(indent=4) }}<span style="display:none;">{{ content.ai_id }} {{ content.ai_name }}</span>{% elif message.role.lower() == "system" %}{{ message.content | safe }}{% else %}{{ message.content |tojson(indent=4) }}{% endif %}
            </pre>
        {% endfor %}
    </div>
    
    <input type="hidden" id="ai_id" value="{{ ai_id }}">
    <input type="hidden" id="ai_name" value="{{ ai_name }}">

    <form action="{{ url_for('chat') }}" method="POST">
        <input type="hidden" name="messages" value="{{ messages }}">
        <label for="user_message">Your message:</label>
        <input type="text" name="user_message" id="user_message" autofocus>
        <label for="experience_space">Experience Space:</label>
        <select name="experience_space" id="experience_space">
            <option value="{{ experience_space }}">{{ experience_space }}</option>
            <option value="{{ experience_space + 1 }}">{{ experience_space + 1 }}</option>
        </select>
        <button type="submit">Send</button>
    </form>

    <form action="{{ url_for('chat') }}" method="POST">
        <input type="hidden" name="messages" value="{{ messages }}">
        <input type="hidden" name="experience_space" value="{{ experience_space }}">
        <input type="hidden" name="generate_model_message" value="true">
        <button type="submit">Generate Model Message</button>
    </form>

    <br />
    <br />
    <div>
        <h3>Token Information:</h3>
        <p><strong>Prompt tokens:</strong> {{ prompt_tokens }}</p>
        <p><strong>Completion tokens:</strong> {{ completion_tokens }}</p>
        <p><strong>Total tokens:</strong> {{ total_tokens }}</p>
    </div>

    <form action="{{ url_for('clear_context') }}" method="POST">
        <button type="submit">Clear Context</button>
    </form>          

</body>
</html>
